USE [DWH_Repuestos]
GO
/****** Object:  StoredProcedure [dbo].[Corp_Proauto_FactVentaRepuesto]    Script Date: 26/1/2022 8:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[Corp_Proauto_FactVentaRepuesto]
AS
BEGIN

declare @fecha date

select @fecha=fecha from DimTiempo where MesVigente=1 and DiaVigente=1

DELETE FROM [DWH_Repuestos].[dbo].[FactCorpVentaRepuesto]
WHERE CodigoEmpresa = 1
and year(Fecha) =	year(@fecha)
and month(Fecha) = month(@fecha)

--ELIMINAR TABLAS TEMPORALES
IF OBJECT_ID(N'tempdb.dbo.#Repuestos',N'U') IS NOT NULL
DROP TABLE #Repuestos



SELECT       
      [FECHA] AS [Fecha]
	  ,NULL AS [TipoDocumento]
	  ,[NUMERO_DOCUMENTO] AS [NumeroDocumento]
	  ,CONCAT('1', id_cot_bodega) AS [CodigoBodega]
	  ,CONCAT('1', [CODIGO]) AS [CodigoProducto]
      ,NIT_VENDEDOR AS [CodigoAsesor]
	  ,[NIT_CLIENTE] AS [CodigoCliente]
      ,[PRECIO_NETO] AS [ValorVenta]
	  ,[COSTO_TOTAL] AS [ValorCostoVenta]
	  ,CASE 
			WHEN id_canal_venta IN ('2.2.1', '2.3.1') THEN 'VEHICULOS'
			WHEN id_canal_venta IN ('2.1.4', '2.2.4', '2.2.3', '2.3.2', '2.1.3') THEN 'TALLER'
			WHEN id_canal_venta IN ('2.1.1', '2.1.2', '2.2.2') THEN 'MOSTRADOR'
			WHEN id_linea_negocio = ('2.1') THEN 'TALLER'
			WHEN id_linea_negocio IN ('2.2', '2.3') THEN 'VEHICULOS'
			ELSE NULL
	   END AS [Canal]
      ,1 AS [CodigoEmpresa]
	  ,dp.marca
	  ,r.MarcaVH_original
INTO #Repuestos
FROM [DWH_Repuestos].[dbo].[FactVentaRepuestos] R
left join DimCorpProducto dp on dp.CodigoProducto = concat(1,R.CODIGO)
WHERE CodigoEmpresa = 1
and year(Fecha) =	year(@fecha)
and month(Fecha) = month(@fecha)


INSERT INTO [DWH_Repuestos].[dbo].[FactCorpVentaRepuesto]
SELECT *
FROM #Repuestos

END