USE [DWH_Repuestos]
GO
/****** Object:  StoredProcedure [dbo].[Corp_Proauto_FactInventarioRepuesto]    Script Date: 29/3/2022 10:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[Corp_Proauto_FactInventarioRepuesto] 
as
begin

declare @fecha date

select @fecha=fecha from DimTiempo where MesVigente=1 and DiaVigente=1

DELETE FROM [DWH_Repuestos].[dbo].[FactCorpInventarioRepuestos]
WHERE CodigoEmpresa = 1
and year(Fecha) =	year(@fecha)
and month(Fecha) = month(@fecha)

INSERT INTO [DWH_Repuestos].[dbo].[FactCorpInventarioRepuestos]
SELECT 
	  [Fecha]
      ,CONCAT('1', [id_cot_bodega]) AS CodigoBodegaProducto
      ,CONCAT('1', [CodigoItem]) AS CodigoProducto
	  ,([Costo Stock Disponible] + [Costo Reserva]) AS Valor
      ,[ultima_compra] AS [FechaUltimaCompra]
      ,[Costo Unidad Promedio Empresa] AS [CostoPromedio]
	  ,[Stocktotal] AS Stock
	  ,CASE WHEN [Edad Inventario] IS NULL THEN 'N'	ELSE 'S' END AS [EsObsoleto]
	  ,1 AS [CodigoEmpresa]
	  ,m.Marca
	  ,id_marca
  FROM [DWH_Repuestos].[dbo].[FactInventarioRepuestos] i
 left join DWH_Repuestos.dbo.DimMarca m on m.Id = i.id_marca

WHERE year(Fecha) =	year(@fecha)
and month(Fecha) = month(@fecha)

end

