USE [MEPA_Reportes]
GO
/****** Object:  StoredProcedure [dbo].[Get_R_VentasCanalRepuestos_GM]    Script Date: 8/4/2022 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Get_R_VentasCanalRepuestos_GM] 
(
	@zona VARCHAR (MAX)	
)
AS
BEGIN
	
	SET NOCOUNT ON;

-- =============================================
-- Author:		<Angelica Pinos>
-- Create date: <2021-09-08>
-- Description:	<Obtiene el numero de vehiculos (VIN) que han ingresado a los Talleres en el mes actual.
--               No se consideran las devoluciones>
-- =============================================
-- EXEC [dbo].[Get_TR_NumeroVINsTaller_GM] 'Zona 1'

--DECLARE @zona VARCHAR (max) = 'Zona 1';

	DECLARE @fecActual	DATE = CAST(GETDATE() AS DATE)
	DECLARE @devolucion	VARCHAR (MAX) = 'NO'
	DECLARE	@fecIni		DATE = DATEADD (DAY, 1, EOMONTH (DATEADD (MONTH, -1, @fecActual)))
	DECLARE @fecFin		DATE = EOMONTH (@fecActual)
	PRINT @fecActual 
	PRINT @fecIni 
	PRINT @fecFin

	SELECT	[Linea Negocio] = live.linea_vehiculo
			,Marca = M.Marca
			,Canal = v.canal_venta
			,Neto = r.PRECIO_NETO
			,[Original / Alt.] = r.ORIGINAL_ALTERNO
	FROM	[DWH_Repuestos].[dbo].FactVentaRepuestos r
		JOIN	[DWH_Repuestos].[dbo].DimLineaNegocio l on l.id_linea_negocio = r.id_linea_negocio
		JOIN	[DWH_Repuestos].[dbo].DimCanalVenta v on v.id_canal_venta = r.id_canal_venta
		JOIN	[DWH_Repuestos].[dbo].DimBodega b on (b.id = r.id_cot_bodega)
		JOIN	[DWH_Repuestos].[dbo].DimZona z on (z.id_zona = b.id_zona)
		JOIN	[DWH_Repuestos].[dbo].DimTipoOrden tior ON r.id_tipo_orden = tior.id_tipo_orden
		JOIN	[DWH_Repuestos].[dbo].DimLineaVehiculo live ON r.id_linea_vehiculo = live.id_linea_vehiculo
		JOIN	[DWH_Repuestos].[dbo].DimMarca m on m.Id = r.id_marca
	WHERE CAST (r.FECHA as date) BETWEEN @fecIni AND @fecFin
		AND l.linea_negocio = 'Repuestos'
		AND z.zona = @zona
		AND r.ORIGINAL_ALTERNO like '%origin%'
		AND m.Marca in ('Chevrolet','Multimarca');
	
END